/* 全局样式 */
html, body {
    overflow-x: hidden; /* 禁止水平滚动 */
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #6e8efb, #7d92f3, #a777e3);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 容器 */
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80vw; /* 使用视口宽度的百分比 */
    max-width: 500px; /* 调整最大宽度，使其在电脑上更宽 */
    margin: 40px; /* 添加外边距 */
    box-sizing: border-box; /* 确保内边距在计算宽度时被包含 */
}

/* 标题 */
h2 {
    margin-bottom: 10px;
    color: #333;
}

/* 内容文本 */
p {
    font-size: 20px;
    color: #666;
}

/* 底部 */
footer {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.copyright {
    font-size: 16px;
    color: #333;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 加入阴影效果，增强可见度 */
}
